body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 150px 100px 150px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 400;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.bottom {
    display: flex;
    align-items: stretch;
}

.hero {
    width: 50%;
    margin-right: 10px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    font-weight: 100;
    color: #f9faf8;
}

button {
    background-color: #3882f6;;
}

img {
    width: 400px;
    height: 200px;
    background-color: gray;
    flex-grow: 1;
    width: 50%;
    margin-left: 10px;
}