body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 6px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 400;
}


.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    font-weight: 100;
    color: #f9faf8;
}

img {
    width: 450px;
    height: 250px;
    background-color: gray;
}